aiofiles==23.2.1
alembic==1.13.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
anyio==3.7.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
crcmod==1.7
cryptography==44.0.2
distro==1.9.0
exceptiongroup==1.2.2
fastapi==0.104.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.26.0
idna==3.10
jiter==0.9.0
jmespath==0.10.0
mako==1.3.9
markupsafe==3.0.2
numpy==1.26.2
openai==1.72.0
opencv-python==4.8.1.78
oss2==2.18.3
pillow==10.1.0
psycopg2-binary==2.9.9
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.5.2
pydantic-core==2.14.5
python-dotenv==1.0.0
python-multipart==0.0.6
pyyaml==6.0.2
requests==2.32.3
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.27
starlette==0.27.0
tqdm==4.67.1
typing-extensions==4.13.1
urllib3==2.3.0
uvicorn==0.23.2
